<nav class="navbar bg-dark">
    <h2>Online Shop</h2>
    <ul>
        <li routerLinkActive="active">
            <a href="#">Phone</a>
        </li>
    </ul>
    <ul>
        <li routerLinkActive="active">
            <a href="#">Tablet</a>
        </li>
    </ul>
    <ul>
        <li routerLinkActive="active">
            <a href="#">Laptop</a>
        </li>
    </ul>
    <ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/cart']">Cart</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
